#shuttleBackground {
  background-color: green;
  display: inline-block;
  height: 80%;
  width: 40%;
}

#rocket {
  position: relative;
  /* bottom: -250px;
  top: 250px; */
  bottom: 0px;
  top: 0px;  
  left: 0px;
  right: 0px;
}